@font-face {
  font-family: Camphor-Light;
  src: url('../fonts/camphor-light.woff')
    format('woff');
}
@font-face {
  font-family: Camphor;
  src: url('../fonts/camphor.woff')
    format('woff');
}
@font-face {
  font-family: Camphor-Medium;
  src: url('../fonts/camphor-medium.woff')
    format('woff');
}
@font-face {
  font-family: Camphor-Bold;
  src: url('../fonts/camphor-bold.woff')
    format('woff');
}

@font-face {
  font-family: Monaco;
  src: url('../fonts/monaco-webfont.179f96cc.woff') format('woff');
}
